#root {
    white-space: pre-line;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: @font-family;
    background-color: #fff;
    color: @color-black;
    transition: all .2s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: @primary-color;
    color: #fff;
}

.container {
    max-width: @breakpoint-desktop;
    margin : 0 auto;

    @media @desktop-screen {
        padding : 0 1rem;
    }

}

div[role="alert"] {
    margin-bottom: .6rem;
}

button.shadow {
    &.ant-btn-primary {
        box-shadow: 0 4px 6px rgba(134, 134, 134, .2);
    }

    box-shadow: 0 4px 6px rgba(134, 134, 134, .09);

    &:hover {
        box-shadow: none;
    }
}

button:not(.ant-btn-circle):not(.ant-switch), input, span.ant-input-affix-wrapper {
    border-radius: 10px !important;
}

button.ant-btn {
    font-weight: 500;
}

span.ant-checkbox-inner{
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

span.ant-checkbox-checked::after {
    border-radius: 50%;
}

span.ant-avatar {
    border: 1px solid @border-gray !important;
}

.ant-pagination {
    text-align: center;
}

.form-wrap {
    max-width : 400px;
    padding-top : 2rem;
    margin : 0 auto;
}

.sub-text{
    text-align : center;
    margin-bottom : 2rem;
    color : @font-color-gray;
}