{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "extends": ["airbnb", "prettier"],
    "plugins": ["import", "react-hooks"],
    "rules": {
        "react/prop-types": "off",
        "react/jsx-no-bind": "off",
        "no-console": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": "off",
        "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["draft", "acc", "event", "editor"] }],
        "react/jsx-props-no-spreading": "off",
        "no-template-curly-in-string": "off",
        "react/no-array-index-key": "warn",
        "no-unused-vars": "warn",
        "camelcase": ["error", { "ignoreImports": true, "ignoreDestructuring": true, "properties": "never" }],
        "class-methods-use-this": "off",
        "no-underscore-dangle": "off"
    }
}
