.footer-wrap {
    font-size :.8rem;
    color : @font-color-gray;
    min-height: 10rem;

    .container {
        padding-top : 2rem;

        img.logo {
            width: 8rem;
            opacity: .12;
            display: block;
            margin-bottom: .6rem;
        }
    }
}